*.db
TimeTravel/.vs/
TimeTravel/Binaries/
TimeTravel/Intermediate/
TimeTravel/Saved/
.vs/
TimeTravel/Content/InfinityBladeGrassLands/
TimeTravel/Content/InfinityBladeWeapons/
TimeTravel/Content/MobileStarterContent/
